.App {
  margin-top: 10px;
  text-align: center;
}

.app__title {
  background: -webkit-linear-gradient(#013a9c, #0a64ff, #ff0daf, #ff0350);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__subTitle {
  margin-top: 0 !important;
  text-align: right;
}

.app__form {
  padding: 18px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #dfdfdf;
  width: 90%;
  margin: 20px;
  border-color: rgb(46, 46, 46);
  border-radius: 6px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
